body{
  background-color: rgb(46, 46, 42);
}
img{
  object-fit:cover;
  vertical-align: middle;
}
#d{
  height: 100%;
  width: 100%;
  opacity: 1;
  
}
#dsl{
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transform: rotateY(-60deg);
}

#dsr{
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transform: rotateY(60deg);
}

.container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.container2{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.player1{
  display: flex;
  align-items: center;
  justify-content: center;
}

#musicPlay{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 4, 4);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 30px;
  border: 7px rgba(198, 230, 230, 0.747);
  border-style: solid;
  font-size: 50px;
}
.changeBut{
  border-radius: 10%;
  font-size: 40px;
  background-color: bisque;
}

.changeBut:hover{
  font-size: 45px;
  background-color: rgb(245, 204, 155);
}
#next{
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 60px solid rgb(78, 115, 184);
    border-bottom: 10px solid transparent;
    border-right: 0px transparent;
    margin-left: 20px;

  }
#prev{
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-right: 60px solid rgb(78, 115, 184);
  border-bottom: 10px solid transparent;
  border-left: 0px transparent;
  margin-right: 20px;
}
#next:hover{
  cursor: pointer;
  border-top: 15px solid transparent;
  border-left: 80px solid rgb(53, 198, 235);
  border-bottom: 15px solid transparent;
}
#prev:hover{
  cursor: pointer;
  border-top: 15px solid transparent;
  border-right: 80px solid rgb(53, 198, 235);
  border-bottom: 15px solid transparent;

}

.dance{
  border: 5px solid t;
  height: 400px;
  display: flex;
  justify-content: space-evenly; 
}
#songName{
  color: whitesmoke;
  font-size: 30px;
  motion: path();
}
